# Data Science Tools and Ecosystem

In this notebook, Data Science Tools and Ecosystem are summarized.

Some of the popular languages that Data  Scientists use are:
1. R
2. Python
3. C++

Some of the commonly used libraries used by Data  Scientists include:
1. Pandas
2. Numpy
3. Seaborn

|Data Science Tools|
|---|
|Pycharm|
|VSCode|
|Spyder|

### Below are a few examples of evaluating arithmetic expressions in Python.

In [1]:
### This a simple arithmetic expression to multiply then add integers.
(3*4)+5

17

In [3]:
#This will convert 200 minutes tob hours by diving by 60
200/60

3.3333333333333335

Objectives:


*   List popular languages for Data Science
*   List some of the commonly used libraries by Data Scientist
*   Evaluate some arithmetic expressions

## Author
Alejandro Cantu Lopez